/*
    DEMO STYLE
*/

/* ---------------------------------------------------
    COLORS:
    
    #513a70: Very dark desaturated violet
    #927c4b: Dark moderate orange
    #0e0e0e: Very dark gray (mostly black)
    #f0f0f0: Very light gray
----------------------------------------------------- */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
  height: 100%;
  
}

body {
    font-family: 'Roboto';
    background: #0e0e0e;

}

p {
    font-family: 'Roboto';
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #f0f0f0;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.champ{
    font-family: 'Roboto Slab';
	font-size: 1.25em;
    font-weight: bold;
    color: #513a70;
}

h1,h3 {
	font-family: 'Aladin';
    color: #927c4b;
    font-weight: 700;
     text-shadow: -4px 1px 3px #513a70;
}

h2,h4 {
	font-family: 'Aladin';
	font-weight: 700;
    color: #513a70;
    margin-left: .5em;
}

h6 {
	font-family: 'Aladin';
	font-size: 1.25em;
	font-weight: 700;
    color: #513a70;
    margin-left: .30em;
    margin-top: .50em;
}

h7 {
	font-family: 'Aladin';
	
    color: #513a70;
 
}

/* iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
/* 4x3 Aspect Ratio */
/*
.iframe-container-4x3 {
  padding-top: 75%;
} */

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.list-group{
font-family: 'Roboto';
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #f0f0f0;
}

a,
a:hover,
a:focus {
    color: #f0f0f0;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #513a70;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    color: #f5f5f5;
    background-color: #927c4b;
    outline: none !important;
    border: none;
}

.btn.btn-info {
    box-shadow: none;
    color: #f5f5f5;
    background-color: #927c4b;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #f5f5f5;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;

    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #927c4b;
    color: #f5f5f5;
    transition: all 0.3s;
    border-right: 1px solid #927c4b;

}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: .85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);

}

#sidebar .sidebar-header {
    padding: 20px;
    background: #513a70;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: .95em;
    text-align: center;
    
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #927c4b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #927c4b;
    background: #513a70;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #f0f0f0;
    background: #513a70;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #927c4b;
    color: #f0f0f0;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #513a70;
    color: #f0f0f0;
}

a.article,
a.article:hover {
    background: #f0f0f0!important;
    color: #513a70 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;

}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;

    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;

    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;

    }
    #sidebar .sidebar-header strong {
        display: block;

    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
               

    }
}

/* ---------------------------------------------------
    TIMELINE
----------------------------------------------------- */
.main-timeline{ font-family: 'Roboto', sans-serif; }
.main-timeline .timeline{
    padding: 75px 0 0 0;
    margin: -5px 0 0 0;
    position: relative;
}
.main-timeline .timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline-content{
    color: #f5f5f5;
    width: 53.5%;
    padding: 15px;
    border: 5px solid #927c4b;
    border-left-width: 0;
    display: inline-block;
    float: right;
}
.main-timeline .timeline-content:hover{
    color: #a57800;
    text-decoration: none;
}
.main-timeline .timeline-icon{
    color: #513a70;
    background-color: #927c4b;
    font-family: 'Aladin';
    font-size: 30px;
    text-align: center;
    line-height: 80px;
    height: 80px;
    width: 80px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
}
.main-timeline .title{
    color: #513a70;
    font-size: 22px;
    font-weight: 70;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    border-left-width: 5px;
    border-right-width: 0;
    float: left;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ border-color: #927c4b; }
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{ background-color: #927c4b; }
.main-timeline .timeline:nth-child(4n+2) .title{ color: #513a70; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ border-color: #927c4b; }
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{ background-color: #927c4b; }

p{
color: #f0f0f0;}
.main-timeline .timeline:nth-child(4n+3) .title{ color: #513a70; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content{ border-color: #927c4b; }
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{ background-color: #927c4b }
.main-timeline .timeline:nth-child(4n+4) .title{ color: #513a70; }
@media only screen and (max-width:576px){
    .main-timeline .timeline-content{ width: 100%; }
    .main-timeline .timeline:nth-child(even) .timeline-content{
        border-right-width: 5px;
        border-left-width: 0;
    }
    .main-timeline .timeline-icon{
        transform: translateX(0);
        left: 0;
    }


}
/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */

.footer {
	position: relative;
 	bottom: 0;
 	width: 100%;
 	background-color: #0e0e0e; 
 	border-top-style: solid; 
 	border-top-width: 2px; 
 	border-top-color: #927c4b;
 	color: #f5f5f5; 
 	font-family: 'Roboto';
 	font-size: 15px; 
 	text-align: center;
	height: 50px;
	padding-top: 10px; 
	padding-bottom: 10px; 


}

/* ---------------------------------------------------
    CARD STYLE
----------------------------------------------------- */
 .btn-primary:hover,
    .btn-primary:focus
    {
        background-color: #513a70;
        border-color: #513a70;
        box-shadow: none;
        outline: none;
    }

    .btn-primary
    {
        color: #927c4b;
        background-color: #513a70;
        border-color: #927c4b;
    }

    section
    {
        padding: 5px 0;
    }

        section .section-title
        {
            text-align: center;
            margin-bottom: 50px;
            text-transform: uppercase;
            font-family: 'Aladin';
            font-weight: 700;
            color: #513a70;
            font-size: 2.75em;
        }

    #team .card
    {
        border: none;
        background: #0e0e0e;
    }

    .image-flip:hover .backside,
    .image-flip.hover .backside
    {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:hover .frontside,
    .image-flip.hover .frontside
    {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .mainflip
    {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
    }

    .frontside
    {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
        -webkit-box-shadow: 5px 7px 9px -4px #927c4b;
        -moz-box-shadow: 5px 7px 9px -4px #927c4b;
        box-shadow: 5px 7px 9px -4px #927c4b;
    }

    .backside
    {
        position: absolute;
        top: 0;
        left: 0;
        background: #0e0e0e;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px #927c4b;
        -moz-box-shadow: 5px 7px 9px -4px #927c4b;
        box-shadow: 5px 7px 9px -4px #927c4b;
    }

    .frontside,
    .backside
    {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform-style: preserve-3d;
        -o-transition: 1s;
        -o-transform-style: preserve-3d;
        -ms-transition: 1s;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
    }

        .frontside .card,
        .backside .card
        {
            min-height: 368px;
            max-height: 736px;
        }

            .backside .card a
            {
                font-size: 12px;
                float: left;
                color: #927c4b !important;
                text-align: center; 
              
  
               
            }

            .frontside .card .card-title,
            .backside .card .card-title
            {
                color: #513a70 !important;
                text-align: center; 
                
            }

            .frontside .card .card-body img
            {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                text-align: center; 
            }
            

.card .stats-container{
	width: 100%;
	text-align: center; 
}
.card .stats{
	
	float: left;
	width: 25%;
	text-align: center;


}

.card .stats:nth-child(1){
	border-right: 1px solid #f0f0f0;
	padding-right: 5px;
	
	text-align: center; 
}
.card .stats:nth-child(2){
	border-right: 1px solid #f0f0f0;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center; 
}
.card .stats:nth-child(3){
	border-right: 1px solid #f0f0f0;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center; 
}
.card .stats:nth-child(4){

	padding-right: 5px;
	padding-left: 5px;
	text-align: center; 
}



.card .stats h4{
	margin-bottom: 5px;
	text-align: center;
}
.card .stats p{
	color: #f0f0f0;
	text-align: center;
}

.col-sm-6, .col-md-4, -col-xs-12 {
position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}


table {
  width: 100%;
  border-collapse: collapse;
}


/* Zebra striping */

/* 
tr:nth-of-type(odd) {
  background: #0e0e0e;
}

tr:nth-of-type(even) {
  background: #fff;
}
 */

th {
  background: #927c4b;
  color: #ffffff;
  font-weight: 300;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

td:nth-of-type(1) {
  font-weight: 500 !important;
}

td {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  line-height: 20px;
}

span {
  font-style: italic
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table.responsive,
  .responsive thead,
  .responsive tbody,
  .responsive th,
  .responsive td,
  .responsive tr {
    display: block !important;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive thead tr {
    position: absolute !important;
    top: -9999px;
    left: -9999px;
  }

  .responsive tr {
    border: 1px solid #ccc;
  }

  .responsive td {
    /* Behave  like a "row" */
    border: solid;
    border-bottom: 1px solid #eee !important;
    position: relative !important;
    padding-left: 25% !important;
  }

  .responsive td:before {
    /* Now like a table header */
    position: absolute !important;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap !important;
    font-weight: 500 !important;
  }

  /*
	Label the data
	*/
  .responsive td:before {
    content: attr(data-table-header) !important;
  }
   
}